# Ignore binaries.
/bin

.idea/
web/sites/*/development.services.yml
web/sites/*/settings.php
web/sites/*/settings.local.php
web/sites/*/files
web/sites/*/services.yml
web/sites/*/drushrc.php
web/themes/ao-canvas/css
web/themes/ao-canvas/node_modules
web/themes/ao-canvas/sc5_styleguide
web/modules/contrib
web/modules/custom/ao_editor
web/modules/custom/ao_layout
web/core
vendor
dumps
private
console

portia